[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
js2py = "*"
ttkbootstrap = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"

[requires]
python_version = "3"
