certifi==2022.6.15
charset-normalizer==2.1.0
hackcqooc==0.0.3
idna==3.3
Js2Py==0.71
Pillow==9.2.0
pyjsparser==2.7.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
six==1.16.0
ttkbootstrap==1.8.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
